﻿@model NorthwindWeb.Category

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Category</h4>
    <hr />
    <table>
        <tr>
            
            <td>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.CategoryName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CategoryName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </dl>
            </td>
            
            <td>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Products.Single().ProductName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Products.Single().SupplierID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Products.Single().QuantityPerUnit)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Products.Single().UnitPrice)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Products.Single().UnitsInStock)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Products.Single().UnitsOnOrder)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Products.Single().ReorderLevel)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Products.Single().Discontinued)
                        </th>

                       
                    </tr>

                    @foreach (var item in Model.Products)
            {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SupplierID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitPrice)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitsInStock)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReorderLevel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Discontinued)
                            </td>

                            
                        </tr>
                    }

                </table>
            </td>
        </tr>
    </table>



</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
