﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.core.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.datepicker.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery.ui.theme.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/DatePicker/jquery-ui.min.css")"
          rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/DatePicker/jquery-ui.theme.min.css")"
          rel="stylesheet" type="text/css" />


 
   

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">*@
        <div class="container">
            @*<div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                    <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>*@
            <div class="container">
                <div class="masthead">
                    <h3 class="text-muted">@Html.ActionLink("Application Name", "Index", "Home")</h3>
                    @Html.Partial("_LoginPartial")
                    <ul class="nav nav-justified">
                        <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "active" })</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                    </ul>
                </div>
            </div>
        </div>
    @*</div>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="@Url.Content("~/Content/DatePicker/jquery-ui.min.js")"
            type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/DatePickerReady.js")"
            type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery.ui.core.min.js")"
        type="text/javascript"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
